body {
    background-color: #007e49;
    color:#fff;
}

a {
    color:#fff;
    font-weight: bold;
    opacity: 0.8;
}

a:hover {
    color:#fff;
    opacity: 1;
}

.container {
    text-align:center;
}

#titulo {
    color:#face3a;
}

#lang {
    opacity:0.8;
}

#buscar input {
    width:33%;
    clear:both;
    margin-bottom:10px;
}

#buscar button {
    clear:both;
    display:block;
    margin:0 auto;
}

#verbetes {
    width:33%;
    margin:0 auto;
}
.verbete {
    text-align:justify;
    opacity:0.8;
    margin:20px 0px 40px 0px;
}
.verbete:hover {
    opacity:1;
}

#paginate {
  margin:40px;
  display:none;
}

#edit {
  float:right;
}
.add, .save {
  display:none;
  float:right;
  font-size:0.8em;
  clear:right;
}

.save {
    margin-bottom:-5px;
}