body {
    font-family: Helvetica;
    background-color: #007e49;
    color:#fff;
}

a {
    color:#face3a;
    font-weight: bold;
    opacity: 0.8;
}

a:hover {
    color:#face3a;
    opacity: 1;
}

.container {
    text-align:center;
}

#titulo {
    color:#face3a;
    font-weight: bold;
}

#lang {
    opacity:0.8;
}

#buscar input {
    width:33%;
    clear:both;
    margin-bottom:10px;
}

#buscar button {
    clear:both;
    display:block;
    margin:0 auto;
}

#verbetes {
    width:33%;
    margin:0 auto;
}

#verbetes hr {
  opacity:0.8;
}

.verbete {
    text-align:justify;
    opacity:0.8;
    margin:20px 0px 40px 0px;
}
.verbete:hover {
    opacity:1;
}

#paginate {
  margin:40px;
}

#paginate hr {
  width:33%;
  margin:0 auto;
  opacity:0.6;
  height:1px;
  border-bottom:0 !important;
}
#edit {
  float:right;
}
#save_form, #complete {
    display:none;
}

.modal {
  color:#000;
  padding:30px;
}

.modal h2, .modal .btn {
  margin:0 auto;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.add, .save {
  display:none;
  float:right;
  font-size:0.8em;
  clear:right;
}

.save {
    margin-bottom:-5px;
}

.empty {
  display:none;
}